<%inherit file="base.htm" />

<%block name="content">

<div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3">
            <h4>Purchasing a subscription gives you access to:</h4>
            <strong>
            <ul>
                <br>
                <li>View local dirt bike ads side by side with their Kelly Blue Book value</li>
                <br>
                <li>View ads ordered from best value to worst</li>
                <br>
                <li>Access to our "Price my bike" calculator</li>
            </ul>
        </strong>
          </div>
      
          <div class="col-sm-9">

            %if request.user.is_authenticated:
                <div class="wrapper">
                    <div id="formContent">
                            <h2>Checkout</h2>
                            <p>The Pro Account Costs $10</p>
                        <div>
                            <p></p>
                        </div>

                        <form method="POST">
                            
                                ${ form.as_table() }          

                        <div><p></p></div>
                        
                        <div id="formFooter">
                                <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_CNCYl3Rg3Tfg0QbgsyL9wTAg00kCZhOvs5"
                                data-amount="1000"
                                data-name="Dirt Bike Deals"
                                data-description="Checkout"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto">
                                </script>
                        </div>

                    </form>

                    </div>
                </div>
            %else:
                <div class="wrapper">
                    You must be logged in to purchase the Pro Account
                    <a class="btn btn-primary" href="/homepage/login/" role="button">Login</a>
                </div>       
            %endif


        </div>

    </div>
</div>

</%block>