<%inherit file="base.htm" />

<%block name="content">
<div class="content">
        <div class="wrapper">
            <div id="formContent">
              <!-- Tabs Titles -->
          
                <div>
                    <p style="font-size: 1.5rem;">Create a free account</p>
                </div>
          
              <!-- Login Form -->
              
              <form method="POST">
                ${form.as_table()}
                <input type="submit" value="Sign Up">
              </form>
              
          
              <!-- Remind Password -->
              <div id="formFooter">
                <a class="underlineHover" href="/homepage/login/">Log In</a>
              </div>
          
            </div>
        </div>
    </div>

</%block>